# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
fastlane/.env
fastlane/report.xml

# Workspace directory containing cloned app repos
.workspace/*
!.workspace/gitkeep

# Build artifacts
*.ipa
*.pkg
*.apk
*.aab
*.dSYM.zip
